* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 217, 203);
}

.container {
    background-color: #fff;
    padding: 2rem;
    /*curve the box corner */
    border-radius: 1rem;
    min-height: 45vh;
}